body {
	margin: 0px;
	font-family: sans-serif;
	/* background-color: #63D471; */
	/* background-color: #9B7EDE; */
	background-color: #EFBB43;


}

th {
	font-weight: normal;
}

td.main {
	vertical-align: top;
	padding: 20px;
}

h1 {
	margin: 0em 0em;
	padding: 0.2em;
	/* background-color: #63D471; */
	background-color: #5FD36C;
}

.right {
	float: right;
}

p {
	margin-right: 20px;
}

.center {
	text-align: center;
}

.output {
	background-color: #FF4766;
	/* background-color: #5ED8E8; */
	border: 2px solid #ffa;
}

.output.main,
.output.overview {
	display: block;
	margin-bottom: 20px;
	background-color: #FF4766;
	/* background-color: #5ED8E8; */
}

.output.thumbnail {
	width: 64px;
	height: 64px;

}

table {
	border-spacing: 0;
}

table.input td {
	vertical-align: baseline;
}

input.error {
	background-color: #fdd;
}

td.desc {
	font-size: 70%;
}

td.input input {
	width: 6em;
	text-align: right;
	font-family: monospace;
}

button {
	height: 2em;
}

button#startstop {
	width: 6em;
	height: 3em;
	font-size: 2em;
}

button#reset {
	width: 6em;
	height: 3em;
}
